.navbar {
    background-color: rgb(86, 149, 86) !important;
}

.navbar-brand {
    color: rgb(0, 59, 117) !important;
    font-family: 'Goblin One', cursive;
}
.nav-link {
    color: rgb(0, 59, 117) !important;
    font-family: 'Jacques Francois', serif; 
} 
.footer {
    background-color: rgb(128, 223, 128);
}
.mt-0 {
    font-family: 'Goblin One', cursive;
}
p {
    font-family: 'Lato', sans-serif; 
}
.carousel {
    margin-top: 10px;
}
/* Portfolio Page Styles */

.Port-Title {
    font-family: 'Goblin One', cursive;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}
.card-body {
    margin: 10;
}
/* Contact Page Styles */
.Contact-Title {
    font-family: 'Goblin One', cursive;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}
