.navbar {
    background-color: rgb(86, 149, 86) !important;
}

.navbar-brand {
    color: rgb(0, 59, 117) !important;
    font-family: 'Goblin One', cursive;
}
 /*This is not working for some reason  */
.nav-link {
    color: rgb(0, 59, 117) !important;
    font-family: 'Jacques Francois', serif; 
} 
.mt-0 {
    font-family: 'Goblin One', cursive;
}
p {
    font-family: 'Lato', sans-serif; 
}
.carousel {
    margin-top: 10px;
}