.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(90, 146, 90, 0.363) !important;
}
.navbarNav {
    margin-left: 5%;
}

.navbar-brand {
    margin-left: 10%;
    color: rgb(0, 59, 117) !important;
    font-family: 'Goblin One', cursive;
}
.nav-link {
    color: rgb(0, 59, 117) !important;
    font-family: 'Jacques Francois', serif; 
}
.nav-item.active {
    font-weight: bold;
}
.footerContain {
    justify-content: center;
    margin-left: 45%;
    margin-right: 40%;
}
.footer {
    display: flex;
    background-color: rgb(128, 223, 128);
}
.mt-0 {
    font-family: 'Goblin One', cursive;
}
p {
    font-family: 'Lato', sans-serif; 
}
.carousel {
    margin-top: 10px;
}
/* Portfolio Page Styles */

.Port-Title {
    font-family: 'Goblin One', cursive;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}
.card-body {
    margin: 10;
}
/* Contact Page Styles */
.Contact-Title {
    font-family: 'Goblin One', cursive;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}
